:root
{
    --bg-dark: hsl(0,0%,5%);
    --bg: hsl(0,0%,10%);
    --bg-light: hsl(0,0%,15%);
    --text : hsl(0,0%,95%);
    --muted-text: hsl(0,0%,70%);
    font-size: 16px;
}

body
{
    background-color: var(--bg-dark);
    color: var(--text);
    font-size: 1rem;
}

a
{
    text-decoration: none;
    color: var(--text);
}

nav
{
    background-color: var(--bg-light);
    padding: 20px;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#home
{
    /* border: 10px solid white; */
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg);
    padding: 20px;
}

.main-content
{
    /* border: 10px solid red; */
    background-color: var(--bg-light);
    padding: 10px;
    max-width: 40vw;
}

.image-container
{
    /* border: 10px solid blue; */
}

#resume
{
    margin-bottom: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--bg-dark);
}

@media (max-width: 768px)
{
    #resume
    {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.card1,
.card2,
.card3 {
    border: 1px solid brown;
    background-color: var(--bg-light);
    margin: 20px; 
}

@media (max-width: 768px) {
    .card1,
    .card2,
    .card3 {
        margin: 20px 0;
    }
}

#contact
{
    border: 1px solid white;
    background-color: var(--bg-light);
    padding: 20px;
}

.profile-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
}